{% extends "testing/blank.html" %}

{% block title %}
    学神CMDB系统-首页
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="/static/css/registerStyle.css">
{% endblock %}

{% block label %}
    <!--模态框触发部分-->
    <!--
        data-toggle 以何种形式展示模态框 modal popover
        data-target 模态框id
    -->
    <div class = "container-fluid">
        <div class = "col-md-11">
            学神CMDB系统-首页
        </div>
        <div class = "col-md-1">
            <button class = "btn btn-default" data-toggle = "modal" data-target = "#register_user_modal">
                用户注册
            </button>
        </div>
    </div>
    <!--模态框触发部分结束-->
{% endblock label %}

{% block content %}
        <!--模态框面板部分-->
     <!--
        tabindex  table 导航的顺序
        role = dialog 指定展示的样式（角色）为模态框
        aria-labelledby = "MyLabel" 获取值
        footer 页脚
     -->


    <div class = "modal fade" id = "register_user_modal" tabindex = "-1" role = "dialog" aria-labelledby = "MyLabel" aria-hidden = "true">
        <div class = "modal-dialog">
            <div class = "modal-content">
                <div class = "modal-header">
                    <button type = "button" class = "close" data-abstime = "modal" aria-hidden = "true">
                        &times;
                    </button>
                    <h4 class = "modal-title" id = "MyLabel">
                        用户注册
                    </h4>
                </div>
                    <form action="/testing/login/" method = "post" id = "register_Form" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class = "modal-body">
                            {% for form in forms %}
                                <div class = "form-group input-group">
                                    <span class = "input-group-addon">{{ form.label }}</span>
                                    {{ form }}
                                </div>
                            {% endfor %}

                        </div>
                        <div class = "modal-footer">
{#                            <button class = "btn btn-primary">#}
{#                                注册用户#}
{#                            </button>#}
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="登录">
                        </div>
                    </form>
            </div>
        </div>
    </div>
     <!--模态框面板部分结束-->

{% endblock content %}

{% block script %}
{#    <script>#}
{#        $(#}
{#            function () {#}
{#                alert("welcome to CMDB")#}
{#            }#}
{#        )#}
{#    </script>#}
    <script type="text/javascript" src="/static/vendor/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery/messages_zh.min.js"></script>
{#    <script type="text/javascript" src="/static/css/registerStyle.css"></script>#}
    <script>
    $.validator.setDefaults(
            {
                submitHandler:function(){
                    alert("这就提交了？")
                }
            }
    );
    $().ready(
        function () {
            $("#register_Form").validate(
                {
                    rules:{
                        id_username:{
                            required: true,
                            maxlength: 6,
                            minlength: 2
                        },
                        id_password:{
                            required: true,
                            maxlength: 6,
                            minlength: 2
                        },
                        id_nickname:{
                            required: true,
                            maxlength: 6,
                            minlength: 2
                        },
                        id_phone:{
                            required: true
                        },
                        id_email:{
                            email:true
                        }
                    },
                    messages:{
                        id_username:{
                            required: "用户名不能为空",
                            maxlength: "用户名不能大于6位",
                            minlength: "用户名不能小于2位"
                        },
                        id_password:{
                            required: "密码不能为空",
                            maxlength: "密码不能大于6位",
                            minlength: "密码不能小于2位"
                        },
                        id_nickname:{
                            required: "用户姓名不能为空",
                            maxlength: "用户姓名不能大于6位",
                            minlength: "用户姓名不能小于2位"
                        },
                        id_phone:{
                            required: "电话不能为空"
                        },
                        id_email:{
                            email:"邮件需要符合格式"
                        }
                    },
                    submitHandler:function () {
                        var formdata= new FormData;
                    {#form.submit()#}
                        data = $('#register_Form').serializeArray();
                        for (var d in data) {
                            key = data[d]['name'];
                            value = data[d]['value'];
                            formdata.append(key, value);
                        }
                        img = $("#id_photo")[0].files[0];
                        formdata.append('photo',img);
                        console.log(img);
                        console.log(data);
                        //取csrf得值
                        var csrftoken = data[0]['value'];
                        //提交ajax
                        $.ajax(
                            {
                                url:'/users/register/',
                                type:'POST',
                                data:formdata,
                                traditional:true,//是否深度序列化数据，true位不深度，
                                processData:false,//是否序列化数据
                                contentType:false,//信息类型
                                success:function (data) {
                                    console.log(data)
                                },
                                beforeSend:function (xhr,settings) {
                                    xhr.setRequestHeader('X-CSRFToken',csrftoken)
                                },
                                error:function (error) {
                                    console.log(error)
                                }
                            }
                        )
                    }
                }
            )
        }
    )
</script>

{% endblock script %}