{% extends "testing/blank.html" %}

{% block title %}
    学神CMDB系统-首页
{% endblock title %}

{% block label %}
    <!--模态框触发部分-->
    <!--
        data-toggle 以何种形式展示模态框 modal popover
        data-target 模态框id
    -->
    <div class = "container-fluid">
        <div class = "col-md-11">
            学神CMDB系统-首页
        </div>
        <div class = "col-md-1">
            <button class = "btn btn-default" data-toggle = "modal" data-target = "#register_user_modal">
                用户注册
            </button>
        </div>
    </div>
    <!--模态框触发部分结束-->
{% endblock label %}

{% block content %}
        <!--模态框面板部分-->
     <!--
        tabindex  table 导航的顺序
        role = dialog 指定展示的样式（角色）为模态框
        aria-labelledby = "MyLabel" 获取值
        footer 页脚
     -->


    <div class = "modal fade" id = "register_user_modal" tabindex = "-1" role = "dialog" aria-labelledby = "MyLabel" aria-hidden = "true">
        <div class = "modal-dialog">
            <div class = "modal-content">
                <div class = "modal-header">
                    <button type = "button" class = "close" data-abstime = "modal" aria-hidden = "true">
                        &times;
                    </button>
                    <h4 class = "modal-title" id = "MyLabel">
                        用户注册
                    </h4>
                </div>
                    <form method = "post" id = "register_Form">
                    {% csrf_token %}
                        <div class = "modal-body">
                            {% for form in forms %}
                                <div class = "form-group input-group">
                                    <span class = "input-group-addon">{{ form.label }}</span>
                                    {{ form }}
                                </div>
                            {% endfor %}

                        </div>
                        <div class = "modal-footer">
                            <button class = "btn btn-primary">
                                注册用户
                            </button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
     <!--模态框面板部分结束-->

{% endblock content %}

{% block script %}
{#    <script>#}
{#        $(#}
{#            function () {#}
{#                alert("welcome to CMDB")#}
{#            }#}
{#        )#}
{#    </script>#}
    <script type="text/javascript" src="/static/vendor/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery/messages_zh.min.js"></script>
    <script>
    $.validator.setDefaults(
            {
                submitHandler:function(){
                    alert("这就提交了？")
                }
            }
    );
    $().ready(
            function () {
                $("#register_Form").validate(
                        {
                            rules:{
                                id_username:{
                                    required: true,
                                    maxlength: 6,
                                    minlength: 2
                                },
                                id_password:{
                                    required: true,
                                    maxlength: 6,
                                    minlength: 2
                                },
                                id_nickname:{
                                    required: true,
                                    maxlength: 6,
                                    minlength: 2
                                },
                                id_phone:{
                                    required: true
                                },
                                id_email:{
                                    email:true
                                }
                            },
                            messages:{
                                id_username:{
                                    required: "用户名不能为空",
                                    maxlength: "用户名不能大于6位",
                                    minlength: "用户名不能小于2位"
                                },
                                id_password:{
                                    required: "密码不能为空",
                                    maxlength: "密码不能大于6位",
                                    minlength: "密码不能小于2位"
                                },
                                id_nickname:{
                                    required: "用户姓名不能为空",
                                    maxlength: "用户姓名不能大于6位",
                                    minlength: "用户姓名不能小于2位"
                                },
                                id_phone:{
                                    required: "电话不能为空"
                                },
                                id_email:{
                                    email:"邮件需要符合格式"
                                }
                            }
                        }
                )
            }
    )
</script>

{% endblock script %}